/*==========  header  ==========*/
header {
  padding: 39px 0 35px; }
  header .btn {
    height: 62px;
    margin: 0 0 0 53px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 257px;
  width: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  margin: 0 auto; }
  .menu li {
    margin: 0 20px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      position: relative;
      color: #000000;
      padding: 7px 0; }
      .menu li a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        height: 3px;
        background: #324C88; }
      .menu li a:hover:before {
        width: 52px; }

.btn-burger {
  width: 23px;
  height: 16px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer; }
  .btn-burger span {
    width: 100%;
    display: block;
    height: 1px;
    background: #000; }

/*==========  header end  ==========*/
/*==========  mobile-menu  ==========*/
.mobile-menu {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  padding: 30px 20px;
  background: #fff;
  max-width: 280px; }
  .mobile-menu .logo {
    margin: 15px 0 30px;
    max-width: 210px; }
  .mobile-menu .menu {
    margin: 0 0 30px;
    width: 100%;
    font-size: 18px; }
    .mobile-menu .menu li {
      width: 100%;
      margin: 0 0 10px; }

.btn-close-menu {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer; }
  .btn-close-menu:before, .btn-close-menu:after {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    background: #324C88;
    width: 2px;
    height: 100%;
    border-radius: 3px; }
  .btn-close-menu:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close-menu:after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }

/*==========  mobile-menu end  ==========*/
