/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1600px) {
  .statistics-item {
    padding: 20px 40px; }
  .contacts-section-home .governing-box {
    max-width: 300px; }
  .association-info__content .links-web {
    margin-right: 0; }
  .vacancies-company-list {
    padding: 50px; } }

@media only screen and (max-width: 1500px) {
  header .btn {
    margin-left: 46px; }
  .menu {
    font-size: 16px; }
    .menu li {
      margin-right: 15px; }
  h2 {
    font-size: 40px;
    line-height: normal; }
  .logo {
    max-width: 240px; }
  h1 {
    font-size: 90px;
    line-height: normal; }
  .box-text {
    font-size: 26px;
    line-height: normal; }
  .contacts-section-home h1 {
    font-size: 40px; }
  .contacts-section-home .btn {
    height: 60px;
    font-size: 20px; }
  .contacts-section-home .breadcrumb-nav {
    margin: 40px 0; }
  .association-section-home__img {
    width: 520px;
    height: 440px; }
  .vacancies-col {
    max-width: 47%; }
  .mCSB_inside > .mCSB_container {
    padding-right: 50px; }
  .calendar-event-box .btn {
    padding: 15px;
    font-size: 22px; }
  .footer-col {
    margin: 0 0 30px; }
  .footer-top {
    padding: 240px 0 40px; }
  .footer-menu {
    max-width: 253px;
    font-size: 16px; } }

@media only screen and (max-width: 1400px) {
  .logo {
    max-width: 215px; }
  .home-slider-navigation-item {
    padding: 20px; }
  .home-slider-title {
    font-size: 50px;
    line-height: normal; }
  .home-slider-item__img {
    max-width: 900px; }
  .home-slider-item__content .box-text {
    font-size: 22px;
    line-height: normal; }
  .video-section h2 {
    font-size: 90px;
    line-height: normal; }
  .statistics-wrapper {
    padding: 20px 0; }
  .statistics-item {
    padding: 20px; }
    .statistics-item h3 {
      font-size: 50px; }
  .cases-slider-item__title {
    font-size: 22px;
    line-height: normal; }
  .cases-slider-item__body {
    max-width: 200px; }
  .cases-slider-item__img {
    max-width: 120px;
    bottom: -40px;
    right: 10px; }
  .cases-slider-item-v2 .cases-slider-item__img {
    max-width: 220px; }
  .callback-wrapper {
    padding: 64px 50px 52px 120px; }
  .form-callback {
    padding-left: 20px; }
    .form-callback button {
      font-size: 20px; }
  .performers-item h3 {
    font-size: 24px;
    line-height: normal; }
  .documents-box {
    padding: 30px; }
  .documents-box__icon {
    margin: 0 15px 0 0; }
  .documents-box__name {
    font-size: 24px;
    line-height: normal; }
  .events-box__body {
    padding: 30px; }
  .information-association-box h3 {
    font-size: 24px; }
  .information-association-box__body {
    padding: 25px 30px; }
  .information-association-box .text-right-box {
    padding: 10px 0 10px 20px; }
  .callback-section-v2 {
    margin: 0 0 -140px; }
    .callback-section-v2 .callback-wrapper {
      padding: 40px 50px; }
    .callback-section-v2:before {
      width: 400px;
      height: 300px; }
  .calendar-event h3 {
    font-size: 26px;
    line-height: normal; }
  .calendar-event-box .btn {
    font-size: 20px;
    padding: 15px 20px; }
  .datepicker-years-item, .datepicker-months-item {
    min-width: 100px; }
  .datepicker-years-item.active, .datepicker-months-item.active {
    font-size: 30px; }
  .courses {
    padding: 40px; }
  .footer-col {
    max-width: 260px; }
  .footer-col__title {
    font-size: 18px; } }

@media only screen and (max-width: 1300px) {
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
  .menu {
    margin: 0 0 0 auto;
    font-size: 18px; }
    .menu li {
      margin: 0 26px 0 0; }
  header .menu li {
    display: none; }
    header .menu li:first-child, header .menu li:nth-child(3) {
      display: block; }
  .p-130 {
    padding: 90px 0; }
  .governing-box {
    width: calc(25% - 8px); }
  .goal {
    padding: 70px 0 50px; }
    .goal:before {
      width: 900px;
      height: 800px; }
  .dates-company__box-head {
    font-size: 40px; }
  .section-info-company .box-text {
    margin: 40px 0; }
  .about-content h2 {
    padding: 0 0 20px;
    margin: 0 0 20px; }
  .about-content .box-text {
    font-size: 20px;
    line-height: normal; }
  .stages-inputs-item__number {
    margin: 0 30px 0 0; }
  .contacts-section-home {
    padding: 0 0 60px; }
    .contacts-section-home .governing-box {
      max-width: 270px; }
  .contacts-association-box {
    padding: 30px 0;
    font-size: 20px; }
  .association-section-home {
    padding: 0; }
  .association-section-home__img {
    width: 500px;
    height: 450px; }
  .association-section-home__wrapper .box-text {
    margin: 0 0 30px;
    padding: 10px 0 10px 30px; }
  .association-info__content {
    padding: 70px 0; }
  .work-home-navigation__arrow {
    margin: 0 30px; }
  .internships-wrapper {
    padding: 30px; } }

@media only screen and (max-width: 1200px) {
  .home-slider-dots {
    width: 100px; }
  .home-slider-title {
    font-size: 40px; }
    .home-slider-title br {
      display: none; }
  .counter-slide {
    font-size: 30px; }
  .statistics-item {
    font-size: 16px; }
    .statistics-item .box-text {
      font-size: 16px;
      line-height: normal; }
  .associations {
    padding: 60px 0; }
    .associations h2 {
      margin: 0 0 40px; }
  .associations-item {
    padding: 30px 20px; }
    .associations-item .btn {
      font-size: 16px; }
  .slick-dots li {
    margin: 0 30px 0 0; }
  .cases-slider-item__img {
    bottom: -100px; }
  .cases-slider-item-v2 .cases-slider-item__img {
    max-width: 180px; }
  .cases {
    padding: 70px 0 50px; }
  h2 {
    font-size: 30px; }
  .partners {
    margin: 50px 0 70px; }
  .callback-wrapper {
    padding: 40px 50px; }
    .callback-wrapper h2 {
      font-size: 30px;
      line-height: normal;
      max-width: 450px;
      margin: 0; }
  .form-callback {
    width: calc(100% - 450px);
    padding: 0; }
  .footer-box {
    font-size: 16px; }
  .page-section__content {
    margin: 150px 0 0; }
  h1 {
    font-size: 90px;
    line-height: normal; }
  .box-text {
    font-size: 24px;
    line-height: normal; }
  .p-130 {
    padding: 80px 0; }
  .events {
    padding: 70px 0 50px; }
    .events h2 {
      margin: 0 0 40px; }
    .events .links {
      margin: 0 0 40px auto;
      font-size: 24px;
      line-height: normal; }
  .governing-box__body {
    padding: 15px 20px; }
  .governing-box__name {
    padding: 0 0 15px;
    margin: 0 0 10px;
    font-size: 24px;
    line-height: normal; }
  .governing {
    margin: 40px 0 0;
    padding: 30px 0 0; }
    .governing h2 {
      margin: 0 0 40px; }
  .dates-company__box-right {
    padding: 0; }
    .dates-company__box-right .dates-company__box-head:before {
      width: 100%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .dates-company__box-head {
    font-size: 30px;
    padding: 0 0 20px;
    margin: 0 0 20px; }
    .dates-company__box-head:before {
      right: auto;
      left: 0;
      width: 100%; }
  .dates-company {
    margin: 70px 0 30px; }
  .dates-company__box {
    margin: 0 0 40px; }
  .advantages {
    padding: 60px 0 40px; }
    .advantages h2 {
      margin: 0 0 30px; }
  .advantages-box {
    margin: 0 0 30px; }
    .advantages-box .box-text {
      font-size: 20px;
      line-height: normal; }
  .stages-inputs-item {
    padding: 10px 20px;
    font-size: 22px; }
  .stages-inputs-item__number {
    width: 50px;
    height: 50px;
    min-width: 50px;
    font-size: 22px; }
  .stages-inputs {
    padding: 60px 0; }
    .stages-inputs:before {
      width: 600px;
      height: 400px;
      background-position: -100px 100px; }
  .differentiation {
    padding: 60px 0 40px; }
    .differentiation h2 {
      font-size: 34px; }
      .differentiation h2 br {
        display: none; }
    .differentiation .statistics-wrapper {
      margin: 40px 0 0; }
  .breadcrumb-nav {
    margin: 30px 0; }
  .contacts-section-home h1 br {
    display: none; }
  .contacts-section-home .box-text {
    margin: 20px 0 30px;
    max-width: none; }
  .contacts-section-home .governing-box {
    margin: 30px 0 0;
    max-width: calc(33.3% - 8px); }
  .contacts-section-home .governing-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .information-association-box {
    padding: 20px; }
    .information-association-box h3 {
      width: 100%;
      margin: 0 0 10px; }
  .association-info__img {
    min-width: 900px; }
  .calendar {
    padding: 70px 0; }
  .nav-tabs .nav-link {
    font-size: 22px; }
  .datepicker-years-item.active, .datepicker-months-item.active {
    font-size: 24px; }
  .ui-datepicker table {
    font-size: 18px; }
  .tab-content .tab-pane {
    padding: 20px; }
  .ui-datepicker-calendar td {
    height: 60px; }
  .nav-tabs .nav-link {
    height: 70px;
    font-size: 18px; }
  .datepicker-years-item, .datepicker-months-item {
    min-width: 90px; }
  .datepicker-nav .links {
    font-size: 15px; }
  .calendar-event h3 {
    margin: 0 0 50px; }
  .summary-wrapper h2 {
    margin: 0 0 30px; }
  .form-summary button {
    max-width: 230px;
    font-size: 20px;
    padding: 14px 20px; }
  .label-file {
    padding: 0; }
  .work-home-navigation {
    padding: 20px 0;
    font-size: 22px; }
  .work-home {
    padding: 0 0 70px; }
    .work-home h1 {
      font-size: 40px; }
  .filter-item {
    font-size: 22px; }
  .filter-wrapper {
    margin: 40px 0 0; }
  .profession {
    padding: 60px 0 50px; }
    .profession:before {
      width: 560px;
      height: 480px;
      background-size: contain; }
  .courses .box-text {
    font-size: 20px; }
  .table tbody {
    font-size: 16px; }
  .table td {
    padding: 15px; }
  .list-level li {
    width: 18px;
    height: 18px;
    min-width: 18px;
    margin: 0 10px 0 0; }
  .internships {
    padding: 60px 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .menu {
    display: none; }
  .btn-burger {
    margin: 0 20px 0 auto; }
  .home-slider-dots {
    position: relative;
    width: 100%;
    padding: 20px 15px; }
    .home-slider-dots .slick-dots {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .home-slider-dots .slick-dots li {
        margin: 0 20px 0 0; }
        .home-slider-dots .slick-dots li:last-child {
          margin: 0; }
  .home-slider-navigation {
    width: 100%;
    border: none; }
  .home-slider-item__img {
    max-width: 750px;
    right: -15px; }
  .home-slider-item__content {
    max-width: 450px; }
  .home-slider .btn {
    font-size: 20px;
    padding: 0 30px;
    height: 70px; }
  .video-section h2 {
    font-size: 80px; }
  .video-section .box-text {
    font-size: 20px;
    line-height: normal;
    margin: 0 0 30px; }
  .statistics {
    padding: 30px 0; }
    .statistics h2 {
      margin: 0 0 30px; }
  h2 {
    font-size: 30px; }
  .statistics-wrapper:before {
    left: -15px; }
  .statistics-item {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
    .statistics-item h3 {
      font-size: 40px;
      line-height: normal; }
  .associations-item {
    width: 25%; }
  .cases-slider {
    margin: 30px 0 0; }
    .cases-slider .slick-dots {
      margin: 30px 0 0; }
  .partners-slider-item {
    font-size: 18px;
    height: 90px; }
  .partners-slider-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 20px; }
  .partners h2 {
    margin: 0 auto 20px;
    text-align: center; }
  .form-callback {
    width: 100%;
    margin: 30px 0 0;
    padding: 0; }
  .callback-wrapper h2 {
    text-align: center;
    margin: 0 auto 20px;
    max-width: none; }
  .footer-wrapper {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .footer-col {
    width: 33.3%;
    margin: 0 0 20px; }
  footer .logo {
    margin: 0 auto 20px; }
  .footer-top {
    padding: 200px 0 30px; }
  .mail-box {
    margin: 0 20px; }
  .address-box {
    max-width: 210px; }
  .business-section {
    padding: 0 0 70px; }
  h1 {
    font-size: 70px; }
  .associations-item {
    width: 33.3%; }
    .associations-item h3 {
      font-size: 20px;
      margin: 40px 0 20px; }
    .associations-item .btn {
      margin: 0 0 20px;
      height: 50px; }
  .p-130 {
    padding: 60px 0; }
  .documents {
    padding: 60px 0 40px; }
    .documents h2 {
      margin: 0 0 30px; }
  .goal h2 {
    margin: 0 0 30px; }
  .goal-arrow {
    margin: 0 0 30px auto; }
  .governing-box {
    width: calc(33.3% - 8px); }
  .governing-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .section-info-company .image {
    min-width: auto;
    margin: 0;
    width: 100%; }
  .section-info-company .box-text {
    font-size: 20px;
    line-height: normal; }
  .about-content {
    margin: 40px 0 0; }
    .about-content h2 {
      text-align: left; }
  .page-section {
    padding: 0 0 70px; }
  .about:before {
    width: 450px;
    height: 320px; }
  .about-video {
    padding-bottom: 56.25%; }
    .about-video img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
  .btn-play {
    width: 100px;
    height: 100px; }
    .btn-play img {
      max-width: 24px;
      position: relative; }
  .stages-inputs h2 {
    margin: 0 0 30px; }
  .differentiation .btn {
    margin: 20px 0 0; }
  .differentiation .statistics-item {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
    .differentiation .statistics-item:last-child {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
  .differentiation .statistics-wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contacts-association {
    padding: 50px 0; }
    .contacts-association:before {
      width: 600px;
      height: 400px;
      background-size: contain; }
    .contacts-association .btn {
      margin: 0 0 30px auto;
      font-size: 20px;
      padding: 15px 25px; }
    .contacts-association h2 {
      margin: 0 0 30px; }
  .map {
    margin: 30px 0 0;
    height: 500px; }
  .contacts-association-box__icon {
    margin: 0 30px 0 0; }
  .association-section-home__img {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: none;
    width: 100%;
    height: auto;
    margin: 30px auto 0; }
  .information-association-box__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .information-association-box .text-left-box {
    width: 100%;
    border: none; }
  .information-association-box .text-right-box {
    width: 100%;
    border: none;
    padding: 20px 0 0; }
  .association-info__img {
    min-width: auto;
    margin: 0 auto 30px;
    float: none;
    height: auto; }
    .association-info__img img {
      height: auto;
      -o-object-fit: contain;
      object-fit: contain; }
  .association-info__content {
    padding: 0 0 30px; }
    .association-info__content .links-web {
      width: 30px;
      height: 30px;
      margin: 0 0 20px auto; }
  .calendar {
    padding: 50px 0; }
    .calendar h2 {
      margin: 0 0 30px; }
  .calendar-event {
    margin: 40px 0 0; }
  .form-summary .form-group {
    width: 100%;
    max-width: 100%; }
    .form-summary .form-group:first-child, .form-summary .form-group:last-child {
      width: 100%; }
  .filter-item {
    font-size: 18px;
    margin: 0 10px 10px 0;
    padding: 5px 15px; }
  .table {
    font-size: 16px; }
    .table thead th {
      padding: 10px 15px; }
  .courses .box-text {
    margin: 0 0 30px;
    line-height: normal; }
  .internships-box {
    padding: 30px 40px;
    width: 100%; }
    .internships-box h4 {
      font-size: 24px;
      line-height: normal; }
    .internships-box .box-text {
      font-size: 16px; }
  .vacancies-company-details {
    padding: 30px; } }

@media only screen and (max-width: 768px) {
  header {
    padding: 20px 0; }
    header .btn {
      margin: 0 0 0 20px;
      height: 50px;
      font-size: 16px;
      padding: 16px 30px; }
  .logo {
    max-width: 160px; }
  .home-slider-item {
    padding: 70px 0 50px; }
  .counter-slide {
    top: 20px;
    margin: 0; }
  .home-slider-item__img {
    max-width: 500px;
    height: 100%; }
    .home-slider-item__img img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .video-section {
    padding: 120px 0 100px; }
    .video-section h2 {
      font-size: 50px; }
    .video-section .box-text {
      font-size: 18px; }
    .video-section .links-web {
      width: 30px;
      height: 30px; }
  .statistics-item {
    font-size: 14px; }
    .statistics-item h3 {
      font-size: 30px; }
  .statistics-wrapper {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .associations-item {
    width: 33.3%; }
  .associations {
    padding: 40px 0; }
  .slick-dots li {
    margin: 0 20px 0 0; }
  .footer-col__title {
    font-size: 18px; }
  .address-box {
    max-width: none;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 10px; }
  .mail-box {
    margin: 0 20px 0 0; }
  h1 {
    font-size: 50px; }
  .box-text {
    font-size: 20px; }
  .performers-item {
    width: 50%; }
    .performers-item h4 {
      font-size: 22px;
      line-height: normal; }
  .events-box__name {
    margin: 20px 0 0; }
  .events-box__head {
    margin: 0 0 20px;
    padding: 0 10px 15px; }
  .governing-box {
    width: calc(50% - 8px); }
  .differentiation .statistics-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .differentiation .statistics-item {
    width: 100%;
    border: none;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contacts-section-home .governing-box {
    max-width: calc(50% - 8px); }
  .contacts-association .btn {
    margin: 0 0 30px; }
  .contacts-association-box {
    font-size: 18px; }
    .contacts-association-box:before {
      width: 100%; }
  .contacts-association-box__icon {
    margin: 0 15px 0 0; }
  .map {
    height: 300px; }
  .information-association {
    padding: 60px 0; }
  .datepicker-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .datepicker-months {
    width: 100%;
    margin: 0 auto 10px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    padding: 0; }
  .row-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form-summary button {
    max-width: 300px;
    margin: 20px auto 0; }
  .label-file {
    width: 100%; }
  .summary-section {
    padding: 40px 0 0; }
  .vacancies-company-item .association-section-home__wrapper {
    margin: 0 0 30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .vacancies-company-item .association-section-home__wrapper .box-text {
      width: 100%;
      padding: 0;
      margin: 20px 0 0;
      border: none;
      font-size: 20px; }
      .vacancies-company-item .association-section-home__wrapper .box-text .btn {
        margin: 20px auto 0; }
  .vacancies-company-item .logo-company {
    margin: 0 auto; }
  .filter-item {
    height: 50px; }
  .vacancies-company-list {
    padding: 30px; }
  .vacancies-col {
    width: 100%;
    margin: 0 0 30px;
    max-width: 100%; }
  .wrapper {
    padding: 90px 0 0; } }

@media only screen and (max-width: 576px) {
  header .list-social {
    display: none; }
  header .btn {
    margin: 0;
    padding: 12px 15px;
    height: 45px;
    font-size: 15px; }
  .logo {
    max-width: 120px; }
  .home-slider-item__img {
    max-width: 400px; }
  .counter-slide {
    font-size: 22px;
    margin: 0 0 25px; }
  .home-slider-title {
    font-size: 30px; }
  .home-slider-item__content {
    max-width: 400px; }
    .home-slider-item__content .box-text {
      font-size: 18px; }
  .home-slider .btn {
    height: 60px;
    font-size: 18px; }
  .statistics-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .statistics-item {
    width: 100%;
    border: none;
    padding: 10px; }
  .associations-item {
    width: 50%; }
  .associations-item__description {
    margin-top: 20px; }
  .form-callback button {
    font-size: 18px;
    width: 100%; }
  .form-callback label {
    width: 100%; }
  .callback-wrapper {
    padding: 30px; }
  .footer-col {
    width: 50%; }
  footer .list-social {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto 0; }
  .mail-box {
    margin: 0 auto 0 0; }
  .footer-box {
    font-size: 15px; }
  h1 {
    font-size: 30px; }
  .page-section__content {
    margin: 60px 0 0; }
  .cases .links {
    margin: 10px 0 0; }
  .associations-item {
    width: 100%; }
  .performers .box-text {
    margin: 0 0 30px; }
  .documents-box__icon {
    width: 50px;
    height: 70px; }
  .documents-box .links-web {
    right: 20px;
    top: 20px;
    width: 18px;
    height: 18px; }
  .events h2 {
    margin: 0 0 30px; }
  .events .links {
    margin: 0 0 20px;
    font-size: 20px; }
  .events__img {
    height: auto; }
  .governing-box {
    width: 100%; }
  .governing-box__photo {
    height: auto; }
  .goal:before {
    width: 600px;
    height: 500px; }
  .goal h2 {
    width: 100%; }
  .goal-arrow {
    margin: 0 0 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .page-section {
    padding: 0 0 40px; }
  .differentiation .statistics-item h3 {
    font-size: 40px; }
  .differentiation .statistics-item .box-text {
    font-size: 24px; }
  .association-section-home__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .association-section-home__wrapper .box-text {
      padding: 20px 0 0;
      border: none;
      border-top: 1px solid #000;
      margin: 0; }
  .logo-company {
    margin: 0 auto 30px; }
  .information-association-box {
    width: 100%;
    margin: -0.5px 0; }
  .callback-section-v2 .callback-wrapper {
    padding: 30px 0; }
  .datepicker-years {
    width: 100%;
    margin: 0 auto 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .datepicker-nav .links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
  .ui-datepicker table {
    font-size: 12px; }
  .ui-datepicker-calendar thead {
    font-size: 14px; }
  .calendar-event-box .events-box__name {
    font-size: 24px; }
  .calendar-event-box .events-box__body {
    padding: 20px; }
  .calendar-event-box .btn {
    font-size: 16px; }
  .work-home-navigation {
    display: none; }
  .work-home {
    padding: 0 0 50px; }
    .work-home h1 {
      font-size: 30px; }
  .internships-wrapper {
    padding: 20px; }
  .internships-box {
    padding: 25px 30px; }
  .internships-box__bg {
    height: 100%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content; }
  .vacancies-col h4 {
    font-size: 18px; }
  .summary-wrapper:before {
    width: 250px;
    height: 200px; }
  .wrapper {
    padding: 85px 0 0; } }

@media only screen and (max-width: 480px) {
  .home-slider-item__img:before {
    width: 100%; }
  .video-section h2 {
    font-size: 40px; }
  .stages-inputs-item {
    font-size: 18px; }
  .stages-inputs-item__arrow {
    width: 24px;
    height: 24px;
    min-width: 24px; }
  .stages-inputs-item__number {
    margin: 0 20px 0 0; }
  .differentiation h2 {
    font-size: 28px; }
  .contacts-section-home .governing-box {
    max-width: none;
    width: 100%; }
  .ui-datepicker .ui-datepicker-title {
    padding: 5px 20px; }
  .ui-datepicker select.ui-datepicker-month {
    margin: 0 15px 0 0;
    font-size: 20px;
    background-size: 10px;
    padding: 0 13px 0 0; }
  .ui-datepicker select.ui-datepicker-year {
    font-size: 20px;
    background-size: 10px;
    padding: 0 13px 0 0; } }

@media only screen and (max-width: 420px) {
  .associations-item {
    width: 100%; }
    .associations-item h3 {
      margin: 0 0 30px; }
    .associations-item .btn {
      margin: 0; }
  .cases-slider-item__img {
    top: auto;
    right: 10px;
    max-width: 100px; }
  .cases-slider-item-v2 .cases-slider-item__img {
    max-width: 140px; }
  .cases-slider-item {
    padding: 25px;
    height: auto;
    min-height: 280px; }
  .cases-slider-item-img {
    padding: 0; }
  .associations-item .btn {
    margin: 0 0 20px; }
  .ui-datepicker-calendar td {
    height: 40px; }
  .ui-datepicker-calendar thead {
    font-size: 12px; }
  .ui-datepicker-calendar th {
    padding: 10px; }
  .btn-all-vacancies {
    margin: 30px auto 0;
    padding: 15px 20px; }
  .vacancies-col__head {
    padding: 0 0 15px;
    margin: 0 0 15px; }
  .vacancies-company-list {
    padding: 30px 5px 30px 20px; }
  .mCSB_inside > .mCSB_container {
    padding-right: 30px; }
  .ui-datepicker .ui-datepicker-title {
    width: 100%;
    border: none;
    border-bottom: 1px solid #324C88;
    padding: 0 0 5px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 0 10px; }
  .datepicker .ui-datepicker-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
