@import "vars"

/*==========  footer  ==========*/
footer
  .list-social
    margin: 0 0 0 auto
    li
      a
        border-color: #fff
        fill: #ffffff
        &:hover
          fill: $accent
          background: $grey

.footer-bottom
  background: $accent
  color: #fff
  padding: 20px 0

.footer-top
  background: $grey
  padding: 240px 0 70px
  color: #000000

.footer-box
  display: flex
  align-items: center
  font-size: 22px
  color: #fff
  &:hover
    color: #fff
  &__icon
    fill: none
    stroke: #fff
    display: flex
    align-items: center
    justify-content: center
    margin: 0 12px 0 0

.address-box
  .footer-box__icon
    height: 30px
    width: 23px
    min-width: 23px

.mail-box
  margin: 0 40px 0 80px
  .footer-box__icon
    width: 27px
    height: 15px
    min-width: 27px

.schedule-box
  .footer-box__icon
    width: 24px
    height: 24px
    min-width: 24px

.footer-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  padding-left: 48px

.footer-col
  max-width: 322px
  &__title
    font-weight: bold
    color: #000
    margin: 0 0 20px
    font-size: 22px
    &:hover
      color: $accent

.footer-menu
  font-size: 17px
  li
    a
      color: #000
      &:hover
        color: $accent
/*==========  footer end  ==========*/



/*==========  modal  ==========*/
.modal-dialog
  max-width: 500px
  .form-callback
    padding: 0
    margin: 0 auto
    width: 100%
    max-width: 300px
    label
      width: 100%
      margin: 0 auto 15px
    button
      margin: 0 auto
      width: 100%

.modal-content
  border: none
  background: $accent
  color: #fff
  padding: 30px

.modal-header
  padding: 0
  border: none
  flex-wrap: wrap
  margin: 0 auto 30px
  .close
    position: absolute
    right: 15px
    top: 15px
    width: 20px
    height: 20px
    z-index: 0
    opacity: 1
    margin: 0
    padding: 0
    border: none
      radius: 0
    &:before, &:after
      content: ''
      position: absolute
      left: 10px
      top: 0
      background: #fff
      height: 100%
      width: 2px
      border-radius: 2px
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(135deg)

.modal-title
  font-weight: 500
  text-align: center
  width: 100%
  font-size: 24px

.modal-body
  padding: 0


/*==========  modal end  ==========*/