@import "vars"

/*==========  section home ==========*/
.home
  position: relative
  background: #F0F0F0

.home-wrapper
  position: relative
  padding: 80px 0 86px
  z-index: 1

.home-slider-item
  width: 100%
  display: flex
  &__img
    position: absolute
    right: -15px
    bottom: 0
    z-index: -1
    max-width: 1125px
    width: 100%
    height: 100%
    display: flex
    align-items: center
    img
      width: 100%
      height: 100%
      object-fit: cover
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 340px
      background: linear-gradient(90deg, #F0F0F0 8.33%, rgba(240, 240, 240, 0.829545) 38.02%, rgba(240, 240, 240, 0) 100%)

.home-slider-title
  font-size: 70px
  font-weight: 600
  color: #000000
  line-height: 79px

.home-slider-item__content
  max-width: 560px
  width: 100%
  .box-text
    margin: 23px 0 52px
    font-size: 29px
    font-weight: 500
    line-height: 43px

.home-slider
  position: relative
  .btn
    height: 80px
    font-size: 25px
    padding: 0 44px 0 58px

.home-slider-dots
  height: 100%
  background: $accent
  width: 157px
  position: absolute
  right: 0
  top: 0
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  .slick-dots
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    li
      width: 8px
      height: 8px
      margin: 0 0 75px
      position: relative
      z-index: 1
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        border-radius: 50%
        width: 20px
        height: 20px
        transition: .3s ease
        z-index: -1
      &:last-child
        margin: 0
      &.slick-active
        background: #fff
        &:before
          background: rgba(255, 255, 255, 0.2)


.home-slider-navigation
  border-top: 10px solid $accent
  margin-bottom: -1px
  width: calc(100% - 157px)
  .slick-track
    display: flex
    align-items: stretch
  .slide
    height: auto
  .slick-current
    .home-slider-navigation-item
      background: $accent
      color: #fff
      border-color: $accent

.home-slider-navigation-item
  width: 100%
  height: 100%
  background: #F0F0F0
  border: 1px solid #FFFFFF
  margin-right: -1px
  padding: 25px 40px 25px 56px
  font-size: 18px
  line-height: 20px
  transition: .3s ease
  cursor: pointer
  color: #000000

.counter-slide
  display: flex
  align-items: center
  margin: 0 0 27px
  color: #AEAEAE
  font-size: 40px
  font-weight: 500

/*==========  section home end  ==========*/


/*==========  section video-section ==========*/
.video-section
  position: relative
  padding: 173px 0 150px
  overflow: hidden
  color: #fff
  &__bg
    width: 100%
    height: 100%
    object-fit: cover
    position: absolute
    left: 0
    top: 0
    z-index: -1
  &:before
    content: ''
    background: rgba(24, 42, 71, 0.5)
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    mix-blend-mode: multiply
    z-index: 1
  .container
    position: relative
    z-index: 1
  h2
    font-size: 105px
    line-height: 115px
    margin: 0 0 14px
  .box-text
    margin: 0 0 58px
    font-size: 23px
    font-weight: 500
    line-height: 35px
  .links-web
    width: 45px
    height: 45px
    stroke: #fff

.fullscreen-bg__video
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 100%
  height: auto
/*==========  section video-section end  ==========*/


/*==========  section statistics ==========*/
.statistics-wrapper
  position: relative
  z-index: 1
  padding: 47px 0 47px 30px
  display: flex
  align-items: stretch
  flex-wrap: wrap
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    height: 100%
    background: #F0F0F0
    width: 2000px
    z-index: -1

.statistics-item
  font-size: 18px
  font-weight: 500
  padding: 37px 73px
  border-right: 1px solid #000
  &:last-child
    border: none
  h3
    font-size: 74px
    font-weight: 600
  .box-text
    font-size: 18px
    line-height: 25px

/*==========  section statistics end  ==========*/


/*==========  section associations ==========*/
.associations
  padding: 113px 0 130px
  h2
    margin: 0 0 88px

.associations-wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap

.associations-item
  width: 20%
  position: relative
  padding: 40px 35px 55px
  font-size: 14px
  font-weight: 500
  line-height: 20px
  margin: -0.5px
  display: flex
  flex-direction: column
  transition: .3s ease
  &:hover
    box-shadow: 0 0 20px rgba($accent, .3)
  h3
    margin: auto 0 47px
    font-size: 20px
    font-weight: 500
  .btn
    margin: 0 0 20px
    width: 100%
    height: 57px
    font-size: 20px
  &__logo
    display: flex
    align-items: center
    justify-content: flex-start
    height: 114px

    img
      max-width: 230px
      max-height: 100%
  .links-web
    stroke: #000
    width: 15px
    height: 15px
    margin: 36px 0 0
    &:hover
      stroke: $accent
  &:before, &:after
    content: ''
    position: absolute
    background: #000
    height: calc(100% - 30px)
    width: 1px
    top: 50%
    transform: translate(0,-50%)
    right: 0
  &:before
    left: 0
    right: auto
  &__description
    margin: 25px 0 0


.line-border
  position: absolute
  background: #000
  width: calc(100% - 30px)
  left: 50%
  transform: translate(-50%,0)
  height: 1px
  bottom: 0
  &:first-child
    top: 0
    bottom: auto

/*==========  section associations end  ==========*/



/*==========  section cases ==========*/
.cases
  padding: 120px 0 54px
  .links
    margin-left: auto

.cases-slider
  margin: 44px 0 0
  .slide
    padding: 0 10px
  .slick-list
    margin: 0 -10px
  .slick-dots
    margin: 54px auto 0

.cases-slider-item
  width: 100%
  height: 280px
  position: relative
  padding: 30px 24px 40px
  overflow: hidden
  z-index: 1
  &__img
    position: absolute
    right: 49px
    top: 48px
    max-width: 175px
    display: flex
    align-items: center
    justify-content: center
    z-index: -1
  &__head
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__body
    margin: 50px 0 0
    max-width: 272px
    width: 100%
  &__title
    font-weight: 500
    font-size: 29px
    color: #fff
    margin: 0 0 7px
    &:hover
      color: $grey
  &__description
    font-size: 14px
  .tags-list
    margin: 40px 0 0

.tags-list
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.tag-item
  margin: 0 20px 0 0
  color: #C0C0C0
  font-size: 9px
  font-weight: 500
  &:hover
    color: #fff
  &:last-child
    margin: 0

.subtitle
  font-size: 14px

.cases-slider-item-img
  padding: 0
  img
    width: 100%
    height: 100%
    object-fit: cover

.cases-slider-item-v2
  .cases-slider-item__img
    max-width: 257px
    top: auto
    bottom: 38px
    right: -20px
/*==========  section cases end  ==========*/

/*==========  section partners ==========*/
.partners
  margin: 82px 0 130px

.partners-slider-nav
  justify-content: flex-end
  margin: 0 0 30px


.partners-slider
  .slick-slide.slick-current
    .partners-slider-item
      border-left-width: 1px

.partners-slider-item
  height: 115px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  color: #B1B1B1
  font-size: 20px
  font-weight: 700
  box-sizing: border-box
  border: 1px solid #000
    left-width: 0
  margin-bottom: -1px
  img
    max-height: 100%
  &:last-child
    margin-bottom: 0

/*==========  section partners end  ==========*/



/*==========  callback-section  ==========*/
.callback-section
  margin: 0 0 -140px
  position: relative
  z-index: 1

.callback-wrapper
  position: relative
  display: flex
  align-items: center
  flex-wrap: wrap
  width: 100%
  background: $accent
  padding: 64px 158px 52px
  z-index: 1
  &:before
    content: ''
    position: absolute
    top: -46px
    left: -51px
    width: 272px
    height: 241px
    background: url("../img/logo-figure.svg") no-repeat center
      size: 100%
    z-index: -1
    opacity: .2
  h2
    color: #fff
    font-size: 40px
    font-weight: 600
    line-height: 41px
    max-width: 564px
    margin: 0 auto 20px 0

.form-callback
  width: calc(100% - 564px)
  padding: 0 0 0 90px
  .form-group
    margin: 0
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
  label
    width: calc(50% - 11px)
  button
    width: calc(50% - 11px)
    height: 55px
    font-size: 23px
    padding: 10px

/*==========  callback-section end  ==========*/


/*==========  page section  ==========*/
.page-section
  position: relative
  color: #fff
  padding: 0 0 162px

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: #182A47
    opacity: .7
    mix-blend-mode: multiply
  &__content
    margin: 323px 0 0

.business-section
  background: url("../img/bg-business.jpg") no-repeat center
    size: cover
  padding: 0 0 206px

.performers
  h2
    margin: 0 0 25px
  .box-text
    margin: 0 0 59px

.performers-item
  width: 25%
  .btn
    height: 60px
    margin: 0 0 32px
    &:last-child
      margin: 0
  .links-web
    position: absolute
    top: 42px
    right: 35px
    margin: 0
    transform: rotate(180deg)
  h4
    margin: 22px 0 17px
    font-size: 29px
    font-weight: 500
  .associations-item__description
    padding: 28px 14px 36px
    font-size: 16px
    font-weight: 500
    background: #F0F0F0
    margin: 0
    .btn
      margin: 0
      height: 51px
    &-bottom
      margin: 16px 0 0
      padding: 15px 0 0
      border-top: 1px solid #000
    &-name
      margin: 0 0 3px
      font-weight: bold
      font-size: 20px

    &-contacts
      margin: 0 0 27px
      a
        color: $accent
        font-size: 18px
        font-weight: 600
        &:hover
          color: #000
  h3
    font-size: 29px
    line-height: 32px
    margin: 70px 0 40px
    max-width: 320px

.performers-item-call
  &:after, &:before
    display: none
/*==========  page section end  ==========*/